@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#main {
    position: relative;
    height: 250vh;
    width: 100%;   
    background-color: blue; 
}

#filter {
    width: 100%;
    height: 11vh;
    background-color: #f9f1e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter > #show-files {
  position: relative;
  left: 5%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#filter > #show-files > h1 {
    font-size: 1.2cqmax;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    white-space: nowrap;
}

#filter > #show-files > #filter-img {
    width: 5vmax;
}
#filter > #show-files > #vertical-line {
    width: 0.15vmax;
    margin: 3%;
}

#filter-search {
    position: relative;
    width: 75%;
    align-items: center;
    justify-content: end;
    right: 5%;
    display: flex;
    aspect-ratio: 1; 
}


#filter-search > input[type='text'] {
    position: relative;
    border: none;
    outline: none;
    width: 2.5vmax;
    height: 2.5vmax;
    font-size: 150%;
    text-align: center;
    background-color: #fff; 
    color: #9f9f9f;
}

#filter-search > h1 {
    font-size: 1.2cqmax;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 1.5%;
}
