@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-very-small {
  @apply text-base;
  font-size: 0.60rem;
}
.text-0dot89vmax {
  @apply text-base;
  font-size: 0.89vmax; 
}
.text-1dot1vmax {
  @apply text-base;
  font-size: 1.1vmax; 
}
.text-1dot2vmax {
  @apply text-base;
  font-size: 1.2vmax; 
}
.text-3vmax {
  @apply text-base;
  font-size: 3vmax; 
}
.leading-custom {
  line-height: 1.12;
}




/*App css*/
body {
  font-family: 'Poppins', sans-serif
}
body, html, #root {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
