#header {
  background-color: white;
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  align-items: center;
}

#items {
  position: absolute;
  left: 2.6%;
  right: 6.94%;
  top: 29%;
  bottom: 30%;
}

