#nav {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/Group\ 78.svg');
  position: relative;
  width: 100%;
  height: 22.5vmax;
}

